*{
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;
}

img {
	height: 100px;
	width: 170px;	
	margin-left: 0px;
}

h1 {
	margin: 30px;
	font-kerning: calibri;
	font-size: 50px;
	color: black;
	text-align: center;
}

iframe {
	margin-top: 50px;
}

h2 {
	color: black;
	margin-top: 5px;
	margin-bottom: 0vh;
}

p {
	color: black;
	margin-top: 0vh;
	margin-left: 2px;
}


.container {
	padding-top: 50px;
	/*display: grid;
	flex-wrap: wrap;
	grid-template-columns: 600px 600px;
	resize: both;
	overflow: auto;*/
}

/*.design{
	width: 1200px;
	height: 100px;
	padding: 50px;
	position: relative;
	left: 35%;
	top: 10%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
}
*/
/*.scaleable-wrapper{
	padding: 20px;
	resize: both;
	position: relative;
	height: 400px;
}*/
